<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>

    <!-- font awesome cdn link  -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<!-- navbar section starts  -->

<nav class="navbar">
    <a href="/"> <i class="fas fa-home"></i> <span>home</span> </a>
    <a href="/about"> <i class="fas fa-user"></i> <span>about</span> </a>
    <a href="/portfolio"> <i class="fas fa-briefcase"></i> <span>portfolio</span> </a>

</nav>

<!-- navbar section ends -->

<!-- portfolio section starts  -->

<section class="portfolio">

    <h1 class="heading"> Proyects </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/img-1.png" alt="">
            <div class="content">
                <h3>Streaming</h3>
                <p>Analisis Plataformas de Streaming</p>
                <a href="https://github.com/Fe23arg/Pi1_dev2_12.git">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-2.png" alt="">
            <div class="content">
                <h3>Telecomunicaciones Analisis</h3>
                <p>Aanalisis Telecomunicaciones ARGENTINA .</p>
                <a href="https://github.com/Fe23arg/Pi2_12_DEV.git">read more</a>
            </div>
        </div>
       
        <div class="box">
            <img src="images/img-3.png" alt="">
            <div class="content">
                <h3>Datalogia</h3>
                <p>Datalogia..Proyecto sucursales McDonals.</p>
                <a href="https://github.com/Datalogia/ProyectoG_12.git">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-4.png" alt="">
            <div class="content">
                <h3>Gestion hotel</h3>
                <p>Gestion de clientes de hotel </p>
                <a href="https://github.com/Fe23arg/hotel_23.git">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/conversor-1.png" alt="">
            <div class="content">
                <h3>Conversor</h3>
                <p>Conversor de tipos de Cambio.</p>
                <a href="https://github.com/Fe23arg/hotel_23.git">source</a>
            </div>
        </div>

        <div class="box">
            <img src="images/encriptador.png" alt="">
            <div class="content">
                <h3>Encriptador</h3>
                <p>Encriptador de texto</p>
                <a href="https://github.com/Fe23arg/Fe23arg.github.io.git">source</a>
            </div>
        </div>

    </div>

   <!--  <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a> -->
    
</section>

<!-- portfolio section ends -->

</body>
</html>